
<div th:fragment="backButton" class="absolute top-6 left-6 z-50">
    <a href="javascript:history.back()" 
       class="flex items-center gap-2 font-bold py-2 px-4 rounded-xl border-2  shadow-[4px_4px_0px_var(--espresso)] hover:shadow-none hover:translate-x-1 hover:translate-y-1 transition-all">
        <svg  xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
     
    </a>
</div>
