<div th:replace="~{fragments/head :: head}"></div>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/backToTop :: backToTop}"></div>

<!--hero section-->
<div class="w-full h-[300px] bg-[var(--yellow)] flex flex-col items-center justify-center pt-6 mt-4 relative"  data-aos="fade-in" >
	<h1 class="text-3xl text-center sm:text-5xl md:text-7xl text-white font-bold kavoon [-webkit-text-stroke:0.5px_black]">
		Power Up Your Syntax
	</h1>
 
	<p class="text-md text-center mt-6" data-aos="fade-in" data-aos-delay="400"> Test your Java skills with gamified quizzes, <br>
		earn epic badges, and level up from noob to legend.</p>

		<a th:href="@{/auth/register}">
	<button class="kavoon bg-[var(--espresso)] text-white      
     py-3 px-5 md:py-4 md:px-8     
     text-lg md:text-2xl
     rounded-sm absolute   
     bottom-[-22px] md:bottom-[-30px] 
     left-1/2 -translate-x-1/2
     transition-all duration-300 
     hover:scale-105 hover:-translate-y-1
     hover:bg-[var(--light-brown)] shadow-xl whitespace-nowrap
     "
	 >
		Get Started
	</button>
	</a>

</div>

<!-- Cards -->
<div th:replace="~{fragments/cards :: cards}"></div>

<h2 class="kavoon text-center text-black mt-14 text-2xl md:text-4xl mb-4	">Curated from  trusted study platforms...</h2>

<div th:replace="~{fragments/logos :: logos}"></div>



<!-- footer -->
 <div th:replace="~{fragments/footer :: footer}"></div> 
 

 <script>
	document.addEventListener("DOMContentLoaded", () => {
	  AOS.init({
	    once: true,
	    duration:1500,
	    easing: 'ease-out',
	    startEvent: 'DOMContentLoaded' 
	  });
	  AOS.refreshHard(); 
	});

 </script>
 </body>
